/xmonad-x86_64-linux
/xmonad.errors
/xmonad.hi
/xmonad.o
/screenshots/
/dist-newstyle/
/.env
/.stack-work/
/TAGS
/build-x86_64-linux/
/libnvidia-allocator.so
/libnvidia-allocator.so.1
/prompt-history
/stack.yaml.lock
/xmonad.hs.rej
